
.product{
    max-width: 400px;
    margin-right: 40px;
    margin-bottom: 50px;
}
.products-p{
    /* max-width: 1200px; */
    display: flex;
 
    flex-wrap: wrap;
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/